.header{
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.logo img{
    width: calc(100% - 90%);
    object-fit: contain;
    position: fixed;
    
    margin-top: -70px;
}
.menu a{
    font-weight: 600;
    font-size: 1rem;
    color: #212245;
    transition: 0.3s;
}
.menu a:hover{
    color: #E67E22;
}
.active__menu{
   color: #E67E22 !important;
}
.cart__icon i,.mobile__menu i{
font-size: 1rem;
color: #212245;
cursor: pointer;

}
.user i{
    font-size: 1.2rem;
    cursor: pointer;
}
.user img {
    width: 30px;
}
.user {
    cursor: pointer;
    color: #212245;
    font-weight: 200;
    margin-right: 50px;
    
}

.profile{
    position: absolute;
    top :80px;
    right: 50px;
   
    background: #fff;
    border-radius: 15px;
    width: 200px;
    transition: 0.5s;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    cursor: pointer;
    list-style: none;
    
   
   
}
.profile ul li{
   list-style: none;
  display: flex;
  height: 45px;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
   align-items: center;
   
   
  
    
}
.profile ul li img{
    max-width: 20px;
   
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.profile ul li:hover img {
    opacity: 1;
}

 .profile::before {
    content: '';
    position: absolute;
    top:-5px;
    left:50px;
    right: 50px;
    height: 20px;
    width: 20px;
   background: #fff;
   
    transform: rotate(45deg);
}

 .profile li:hover {
    opacity: 1;
    color: #E67E22;
   
    
}




.cart__icon{
    position: relative;
}
.cart__badge{
    position: absolute;
    top: 25px;
   
    background: #df2020;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: .8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile__menu{
   
    font-weight: 600;
    display: none;
}
.header__shrink {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99999;
    box-shadow: 2px 2px 2px 2px #FFDCA5;


}



@media only screen and (max-width: 992px){
    .logo img{
        width: calc(100% - 70%);
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.425);
        z-index: 99;
        display: none;

    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        line-height: 20px;
    }
    .menu a{
        font-size: 0.9rem;

    }
    .mobile__menu{
        display: block;
    }
    .cart__icon i, .user i,.mobile__menu i{
        font-size: 1rem;
        
        }
        .show__menu{
            display: block;
        }
}
@media only screen and (max-width: 768px){
    .header{
        width: 100%;
        height: 80px;
        line-height: 80px;
    }
    .logo img {
        margin-top: -70px !important;
    }
    .header__shrink{
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .logo img{
        width: calc(100% - 84%);
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.425);
        z-index: 99;
        display: none;

    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        line-height: 20px;
    }
    .menu a{
        font-size: 0.9rem;

    }
    .mobile__menu{
        display: block;
    }
    .cart__icon i, .user i,.mobile__menu i{
        font-size: 1rem;
        
        }
        .show__menu{
            display: block;
        }
}