.profilecard {
  position: absolute;

  padding-top: 10px;

  background: #fff;
  margin-right: 60%;
  width: 300px;
  height: fit-content;

  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
.addresscard {
  padding-top: 10px;
margin-left: 50px;
  background: #fcfbfa;
  
  width:250px;
  height: fit-content;
  border: 1px solid #000;
  
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
.addresscard p {
  padding-left: 20px;
  height: 8px;
}
.address__btn {
  border: none;
  background: #e67e22;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  margin-left: 50px;
  
}
.address__box {
 display: flex;
 flex-direction:row;
}
.profilecard ul li {
  list-style: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
  align-items: center;
  font-size: 1.2rem;
}

.profilecard img {
  max-width: 50%;

  padding-bottom: 10px;
}
