.rest__ui{
    background: rgb(153, 131, 131);
    height: 150px;
    width: 150px;
    text-align:center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}

.rest__ui:hover img{
    transform: scale(0.8);
    cursor: pointer;
}


.emenu {
 
  background: #fff;
  color: #000;
 
  width: 100%;
 
}

.react-tabs {
  display: flex;
  margin-left: 36px;
  width: 100%;
  height: auto;
 
  color: #000;
  background: #fff;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #fff;
}

.react-tabs__tab {
  height: 50px;
  list-style: none;
  
  padding: 12px 6px;
  cursor: pointer;
  color: #000;
}

.react-tabs__tab--selected {
  background: #E67E22;
  
  border-left: 4px solid #010241;
  color: white;
}

.react-tabs__tab-panel {
  display: none;
 width:90%;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content {
 
  padding-left: 30px;
}


.hove{
  border-radius: 10px;
  cursor: pointer;
}

.hove:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  transition: .2s;
}

.cd{
  border-radius: 16px;
  margin-top: 20px;
  height: 16rem;
}

.upper_data h4{
  font-size: 18px;
  color: rgba(17,17,17,0.849);
  letter-spacing: .5px;
  font-weight: 500;
}

.upper_data span{
  background-color: rgb(36,150,63);
  border-radius: 6px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 2px 1px;
  width: 45px;
}

.lower_data h5{
  font-size: 15px;
letter-spacing: .4px;
font-weight: 400;
color:rgba(17,17,17,0.849) ;
}

.lower_data span{
  font-size: 15px;
  letter-spacing: .4px;
  color:rgba(17,17,17,0.849) ;
}

.extra{
  border-bottom: 1px solid rgba(17,17,17,0.449);
}

.last_data .limg{
  width: 18px;
}

.last_data p{
  font-size: 14px;
  margin-top: 18px;
  letter-spacing: .2px;
  color: rgba(17,17,17,0.849);
}

.last_data .laimg{
  width: 45px;
}

@media (max-width:600px){
  .con{
      flex-direction: column;
      align-items: center;
  }
  .last_data p{
      font-size: 12px;
  }
 
}